<!DOCTYPE html>
<html>
<head>
    <title>Who's there?</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <script>{{ template "office.js"}}</script>
    <style>{{ template "office.css" }}</style>
</head>

<body>
    {{ $logged := ne .Cookie.Value "0" }}

    <h1>Who's there?</h1>
    <div id="team">
        {{ range $key, $value :=  .Team }}
        <div>
            <input id="{{ $key }}" type="checkbox" {{ if $value }}checked{{ end }} {{ if $logged }}onchange="updateUser(event)"{{ else }}disabled{{ end }}>
            <label for="{{ $key }}" class="circle"></label>
            <label for="{{ $key }}">@{{ $key }}</label>
        </div>
        {{ end }}
    </div>

    {{ if $logged }}
        <input type="text" placeholder="What's your nick?" onkeyup="updateUser(event)">
        <button id="logout" onclick="letmeout(event)">Logout ></button>
    {{ else }}
        <button id="login" onclick="letmein(event)">Login ></button>
    {{ end }}
</body>
</html>
