* {
    box-sizing: border-box;
}

body {
    max-width: 27em;
    width: 90%;
    margin: 0 auto;
    color: #212121;
}

h1 {
    text-align: center;
    margin-top: 1em;
    font-size: 4em;
    color: #E91E63;
    user-select: none;
}

input[type="text"] {
    width: 100%;
    font-size: 1.2em;
    border: 0;
    border-bottom: .1em solid grey;
    color: #673AB7;
    margin-top: 2em;
    padding: .5em;
    transition: .2s ease-in-out all;
    text-align: center;
}

input[type="text"]:hover,
input[type="text"]:focus {
    border-bottom-color: #673AB7;
    outline: 0;
}

#team {
    font-size: 1.5em;
    line-height: 1.5;
}

[type=checkbox] {
    display: none;
}

label.circle {
    width: 1em;
    height: 1em;
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    transition: .2s ease-in-out all;
    background: #d3d3d3;
    cursor: pointer;
}

input:checked+label.circle {
    background: #CDDC39;
}

input:disabled+label.circle {
    cursor: auto;
}

div.user {
    user-select: none;
}

#login,
#logout {
    position: fixed;
    bottom: 1em;
    right: 1em;
}


#login input[type="submit"], #logout {
    transition: .2s;
    padding: 0.5em 1.5em;
    color: white;
    border: 0;
    border-radius: 2.5px;
    outline: none;
    cursor: pointer;
}

#login input[type="submit"] {
    background: #64FFDA;
}

#login input[type="submit"]:hover {
    background: #1DE9B6;
}

#logout {
    background: #FF6E40;
}

#logout:hover {
    background: #FF3D00;
}

#login input[type="password"] {
    width: 9em;
    margin-right: .1em;
    padding: 0.5em;
    line-height: 1;
    border: 0;
    background: #d9d9d9;
    border-radius: 2.5px;
    outline: none;
}

#login input[type="password"].invalid {
    animation: shake .5s ease-out 1;
}

@keyframes shake {
    8%, 41% {
        transform: translateX(-10px);
    }
    25%, 58% {
        transform: translateX(10px);
    }
    75% {
        transform: translateX(-5px);
    }
    92% {
        transform: translateX(5px);
    }
    0%, 100% {
        transform: translateX(0);
    }
}
