<!DOCTYPE html>
<html>
  <head>
    <link href="/css/styles.css" rel="stylesheet" type="text/css" </link>
  </head>
  <body>

    <h1>Welcome to the office</h1>

    <form id="login-form" method="POST" action="/">

      <label for="nickname">What's your name?</label><br><br>
      <input type="text" name="nickname"><br><br>

      <label for="password">What's your password</label><br><br>
      <input type="password" name="password"><br><br><br>

      <input type="submit" value="submit">

    </form>
  </body>
</html>
