body {
  background: skyblue;
  font-family: verdana;
  color: #fff;
  padding: 30px
}

h1 {
  font-size: 48px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
}

h2 {
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
}

p, li {
  font-size: 16px;
  text-align: center;
}

form {
  text-align: center;
}

#logout {
  display: none;
}
