
* {
  box-sizing: border-box;
}

body {
  max-width: 27em;
  width: 90%;
  margin: 0 auto;
}

h1 {
  text-align: center;
  font-size: 4em;
  font-family: sans-serif;
  color: #2555d3;
  user-select: none;
}

#team {
  font-size: 1.5em;
  line-height: 1.5;
}

div.user {
  user-select: none;
}

#login,
#logout {
  position: fixed;
  bottom: 1em;
  right: 1em;
}

input[type="submit"], button {
  transition: background-color .9s;
  padding: 0.6em 2.5em;
  color: white;
  border: 0;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
  font-family: roboto;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1.4px;
}

input[type="submit"] {
  background: #2555d3;
}

input[type="submit"]:hover {
  background: #030e2b;
}

#logout {
  display: none;
  background: #2555d3;
}

body.loggedIn #login {
  display: none;
}

body.loggedIn #logout {
  display: block;
}

#logout:hover {
  background: #030e2b;
}

#login input[type="text"],
#login input[type="password"] {
  width: 9em;
  margin-right: .1em;
  padding: 0.6em;
  line-height: 1;
  border: 0;
  background: #F0EFF2;
  border-radius: 2.5px;
  outline: none;
}

#login input[type="password"].invalid {
  animation: shake .5s ease-out 1;
}

@keyframes shake {
  8%, 41% {
      transform: translateX(-10px);
  }
  25%, 58% {
      transform: translateX(10px);
  }
  75% {
      transform: translateX(-5px);
  }
  92% {
      transform: translateX(5px);
  }
  0%, 100% {
      transform: translateX(0);
  }
}
